{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Page</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h1>{{ title }}</h1>
    </header>

    <section class="description">
        <h2>Task Description</h2>
        <p>{{ description|linebreaksbr }}</p>
    </section>

    <footer>
        <h3>Powered by O(1) Club Django &copy; 2024</h3>
    </footer>
</body>
</html>
